extends layout


block content
  h2.text-center Dashboard
  .row
  if error != ''
    .col-md-5mx-auto
      .alert.alert-error #{error}
        #{error}
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your dashboard page, #{user.firstname}.
  .row
  h2 Update Profile!

  form(action="/user/", method="post")
    .form-group
      label e-mail
      input#email.form-control(type="text",name="username", value = `${user.email}`)
    .form-group
      label first name
      input#firstname.form-control(type="text",name="firstname", value = `${user.firstname}`)  
    .form-group
      label last name
      input#lastname.form-control(type="text",name="lastname", value = `${user.lastname}`)
    .form-group
      label Password
      input#password.form-control(type="password",name="password")
    .form-group
      label Confirm Password
      input#password.form-control(type="password",name="confirmPassword")

    .col-md-12.text-center.mb-3
      input.btn.btn-block.mybtn.btn-primary.tx-tfm(type="submit",value="Update")